# Remote storage backend to send metrics to
PROMETHEUS_REMOTE_WRITE_URL='https://prometheus-example-subdomain.grafana.net/api/prom/push'
PROMETHEUS_REMOTE_WRITE_USERNAME='0000000'
PROMETHEUS_REMOTE_WRITE_PASSWORD='...'

# GitHub exporter
# GITHUB_EXPORTER_HOST=127.0.0.1
# GITHUB_EXPORTER_PORT=9171
GITHUB_TOKEN='github_pat_...'

# 1Password exporter
# OP_EXPORTER_HOST=127.0.0.1
# OP_EXPORTER_PORT=9999
OP_SERVICE_ACCOUNT_TOKEN='ops_...'
