# Remote storage backend to send metrics to
PROMETHEUS_REMOTE_WRITE_URL=
PROMETHEUS_REMOTE_WRITE_USERNAME=
PROMETHEUS_REMOTE_WRITE_PASSWORD=

# GitHub exporter
# GITHUB_EXPORTER_HOST
# GITHUB_EXPORTER_PORT
GITHUB_TOKEN=

# 1Password exporter
# OP_EXPORTER_HOST
# OP_EXPORTER_PORT
OP_SERVICE_ACCOUNT_TOKEN=
